{% extends 'SmirikTurprofiBundle::layout.html.twig' %}

{% import 'SmirikConfigBundle:Config:forms.html.twig' as forms %}

{% block content %}
<form id="form-config" class="form-config" action="{{ path('admin_config') }}" method="post">
{% for config in configs %}
  {% if config.type == 'input' %}
    {{ forms.input(config) }}
  {% endif %}
  
  {% if config.type == 'textarea' %}
    {{ forms.textarea(config) }}
  {% endif %}
  
  {% if config.type == 'checkbox' %}
    {{ forms.checkbox(config) }}
  {% endif %}
{% else %}
  Нет полей для отображения
{% endfor %}
<div>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</div>
{{ test }}

</form>
{% endblock %}